node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Hardhat Deploy
deployments/localhost/
deployments/hardhat/
deployments/**/solcInputs/   # optional: keep if you use them for verification

# Hardhat Ignition runtime state
ignition/deployments/